@import '../helpers/all';

*,
*::before,
*::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  background: $background-color-main;
}

html,
body{
  margin: 0;
  padding: 0;
}
body{
  overflow-y: scroll;
}
.text-center{
  text-align: center;
}
.container{
  padding: 1rem;
}
a{
  color: $link-color;
  text-decoration: none;
}
a:hover,
a:focus,
a:active{
  color: $link-color-active;
  text-decoration: underline;
}
