@import '../helpers/all';

html,
body{
  margin: 0;
  padding: 0;
  background: $background-color-main;
}
body{
  overflow-y: scroll;
}
.text-center{
  text-align: center;
}
.container-fluid{
  padding: 0 1rem;
}
a{
  color: #2f70a8;
  text-decoration: none;
}
a:hover,
a:focus,
a:active{
  color: #1f4b70;
  text-decoration: underline;
}
