@import '../helpers/all';

html,
body{
  color: $text-color-main;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 500;
  font-family: 'Russo One', 'Arial Black', sans-serif;
  line-height: 1.2;
}

h1{
  margin: 0;
  padding: 1rem 0;
  font-size: 2.8rem;
  text-align: center;
}
h2{
  font-size: 1.88rem;
}
h3{
  font-size: 1.5rem;
}
p,
span{
  font-family: 'Headland One', Georgia, serif;
  letter-spacing: 0.025rem;
}

.nav{
  font-size: 120%;
  font-family: 'Headland One', Georgia, serif;
  letter-spacing: 0.09rem;
}

article{
  p,
  span{
    line-height: 1.7;
  }

  ol,
  ul{
    font-family: 'Headland One', Georgia, serif;
    letter-spacing: 0.025rem;
  }
}
small{
  color: $text-color-secondary;
  font-weight: 400;
  font-size: 65%;
  line-height: 1;
}