//@import url(https://fonts.googleapis.com/css?family=Headland+One&subset=latin,latin-ext);
//@import url(https://fonts.googleapis.com/css?family=Russo+One&subset=latin,latin-ext);

html, body {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Russo One', 'Arial Black', sans-serif;
}

h1 {
  font-size: 2.8em;  
}
h2{
  font-size: 24px;
}
p, span {
    font-family: 'Headland One', Georgia, serif;
    letter-spacing: 0.025em;
  }
  
  .nav {
    font-family: 'Headland One', Georgia, serif;
    letter-spacing: 0.1em;
    font-size: 120%;
  }

#main {
  p, span {
    line-height: 1.7;
  }
  ol, ul {
    font-family: 'Headland One', Georgia, serif;
    letter-spacing: 0.025em;
  }
}