$background-color-main: #f5f1e3;
$text-color-main: #333;
$text-color-secondary: #555;
$link-color: #2f70a8;
$link-color-active: #1f4b70;

$border-color-main: #a74;
$menu-color-home: #320e57;
$menu-color-gallery: #ba262a;
$menu-color-creations: #905200;
$menu-color-guestbook: #2f4500;
$menu-color-blog: #20446e;
$menu-color-contact: #ffc0cb;
$color-menu-active: #fff;
$background-submenu-active: #e1d1b6;