$background-color-main: #f5f1e3;
$text-color-main: #333;
$border-color-main: #a74;
$menu-color-home: #320E57;
$menu-color-gallery: #BA262A;
$menu-color-creations: #905200;
$menu-color-guestbook: #2F4500;
$menu-color-blog: #20446D;
$menu-color-contact: pink;