@import '../helpers/all';

article{
  padding-bottom: 1rem;
}

article > h1{
  padding: 2rem 0 1rem;
}

article footer{

  h5,
  h6{
    margin: 0;
  }
}

@media($breakpoint-max){
  .tag_cloud + h2{
    margin-top: 0;
  }
  .tag_cloud + .post{
    margin-top: 0;
  }
}

.opening-quote{
  position: absolute;
  right: 100%;
}

.container hr{
  position: relative;
  height: 1.5rem;
  color: #000;
  line-height: 1;
  text-align: center;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.5;

  &::before{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, $border-color-main, transparent);
    content: '';
  }

  &::after{
    position: relative;
    display: inline-block;
    padding: 0 0.5rem;
    color: $border-color-main;
    line-height: 1.9;
    background-color: $background-color-main;
    content: attr(data-content);
  }
}