@import '../helpers/all';

.label {
  padding: 0.3rem 0.6rem 0.2rem;
}

.btn {
  font-weight: bold;
  border-color: $border-color-main;
  
  &:hover, &:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 153, 0, 0.6);
  }
  
}

.btn-default {
  background: $background-color-main;
 
  &:hover, &:focus {
    background: $background-color-main;
    border-color: $border-color-main;
  }

}

.btn-primary {
  background: $border-color-main;
  border-color: $border-color-main;
  
  &:hover, &:focus {
    background: $border-color-main;
    border-color: $border-color-main;
  }
  
}

.btn.no-btn {
  cursor: default;
  
  &:hover {
    background: $background-color-main;
    border-color: $border-color-main;
    box-shadow: none;
  }
  
}
