@import '../helpers/all';

header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem auto;
}

.logo{
  display: block;
  max-width: 4rem;

  img{
    width: 100%;
    height: 100%;
  }
}

.motto{
  margin: 0 0 0 0.2rem;
  color: $text-color-main;
  font-size: 1.2rem;
}

@include media-breakpoint-up(sm){
  header{
    margin: 1.2rem auto;
  }

  .motto{
    margin-left: 2rem;
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(md){
  header{
    justify-content: space-evenly;
    margin: 2rem auto;
  }

  .logo{
    max-width: 6rem;
  }

  .motto{
    font-size: 2rem;
    transform: rotate(-5deg) translateY(-1rem);
  }
}