@import '../helpers/all';

.news + .news{
  margin-top: 1rem;
}

.news{
  display: flex;
  flex-direction: column;

  h2{
    margin: 0;
    font-size: 1.5rem;
  }
  p{
    margin: 0;
  }
}

@media($breakpoint-max){
  .news{
    flex-direction: row;

    h2{
      min-width: 12rem;
      padding: 0.2rem 2rem 0 0;
      text-align: right;
    }
  }
}

