@import "../base/_colors";
@import "../helpers/_mixins";

.tags {
  a:hover, a:focus {
    text-decoration: none;
    span {
      color: #cdc;
    }
  }
}

.tag_cloud {
  width: 180px;
  padding: 0.3em 1em;
  border-radius: 10px;
  background: $main-bg;
  position: absolute;
  top: -5%;
  left: 99%;
  a {
    text-decoration: none;
    span {
      color: #666;
      padding: 5px;
      border-radius: 5px;
    }
    &:hover, &:focus {
      span {
        color: #333;
        background: $main-bg;
      }
    }
  }
  .tag-small {
    a span {
      font-size: 70%;
    }
  }
  .tag-medium {
    a span {
      font-size: 95%;
    }
  }
  .tag-big {
    a span {
      font-size: 105%;
      color: #333;
    }
  }
  .tag-bigger {
    a span {
      font-size: 120%;
      font-weight: bold;
      color: #000;
    }
  }
}

@media (max-width: 1199px) {
  .tag_cloud {
    width: auto;
    padding: 0.3em 1em;
    border-radius: 10px;
    background: $main-bg;
    position: static;
  }

}