@import "../base/_colors";
@import "../helpers/_mixins";

.tags {
  a:hover, a:focus {
    text-decoration: none;
    span {
      color: #cdc;
    }
  }
}

.tag_cloud {
  width: 180px;
  padding: 0.3em 1em;
  border-radius: 10px;
  background: #eeeadc;
  position: absolute;
  left: 100%;
  transform: translateY(-100%);

  span{
    display: inline-block;
  }
  a {
    display: inline-block;
    padding: 11px 7px;
    text-decoration: none;
    border-radius: 5px;
    span {
      color: #666;
    }
    &:hover, &:focus {
      background: $main-bg;
      span {
        color: #333;
      }
    }
  }
  .tag-small {
    span {
      font-size: 70%;
    }
  }
  .tag-medium {
    span {
      font-size: 95%;
    }
  }
  .tag-big {
    span {
      font-size: 105%;
      color: #333;
    }
  }
  .tag-bigger {
    span {
      font-size: 120%;
      font-weight: bold;
      color: #000;
    }
  }
}

@media (max-width: 1199px) {
  .tag_cloud {
    width: auto;
    padding: 0.3em 1em;
    border-radius: 10px;
    background: #eeeadc;
    position: static;
    transform: none;
  }

}