@import '../../helpers/all';

article {
  position: static;
}

article > h1 {
  margin: 1rem auto;
}

article footer {
  margin: 1rem 0;

}

.opening-quote {
  position: static;
}

.container-fluid .hr-text {
  position: relative;
  height: 1.5rem;
  color: #000;
  line-height: 1;
  text-align: center;
  border: 0;
  outline: 0;
  opacity: 1;

  &::after {
    position: relative;
    display: inline-block;
    padding: 0 0.5rem;
    color: $border-color-main;
    line-height: 1.9;
    background-color: #fff;
    content: attr(data-content);
  }

}