@import '../../base/base';

article {
  position: static;
}

article > h1 {
  margin: 1em auto;
}

article footer {
  margin: 1em 0 5em;
}

.opening-quote {
  position: static;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 1;

  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 2em;
    color: $main-border;
    background-color: $main-bg;
  }

}